<div class="header">
  <img src="assets/images/nashtechlogo.png" alt="Nash Tech logo in red on a white background">
  <h1>Blogs Analyzer</h1>
  <img src="assets/images/home-button.svg" alt="Home icon in a house shape, orange color">
</div>
<div class="main-content">
  <div class="search-section">
    <h2 class = "heading">Search Blogs</h2>
    <button class="search-button">Search by title</button>
    <button class="search-button">Search by Name</button>
    <button class="search-button">Search by Blog Id</button>
  </div>
</div>
