apiVersion: apps/v1
kind: Deployment
metadata:
  name: blogs-analyzer-ui
spec:
  replicas: 3
  selector:
    matchLabels:
      app: blogs-analyzer-ui
  template:
    metadata:
      labels:
        app: blogs-analyzer-ui
    spec:
      containers:
        - name: blogs-analyzer-ui
          image: gcr.io/gen-lang-client-0999974873/blogs-analyzer-ui:latest
          ports:
            - containerPort: 80
          imagePullPolicy: Always
