<app-header></app-header>

<button mat-button (click)="goBack()" class="back-btn p-3 m-3">
    <mat-icon class="back-btn">arrow_back</mat-icon>
    Back
</button>

<div class="container">
    <div class="blog-content">
        <h2>HTML Preview</h2>
        <mat-card class="blog-card">
            <div [innerHTML]="postData"></div>
        </mat-card>
    </div>
    <button class="search-btn" (click)="checkQuality()">Check Blog's Quality</button>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
        {{ errorMessage }}
    </div>
    <div *ngIf="qualityResults.length > 0">
        <div class="result-box">
            <h3>Overall Rating:</h3>
            <span class="rating">{{ overallRating | number:'1.1-1' }}</span><br>
            <ngb-rating class="stars" [max]="5" [(rate)]="overallRating" [readonly]="true"></ngb-rating>
            <h3>Overall Feedback:</h3>
            <p>{{ overallFeedback }}</p>
        </div>
        <div class="charts-grid">
            <div *ngFor="let result of qualityResults" class="chart-item">
                <app-report
                        [actualLabel]="[result.originalLabel]"
                        [oppositeLabel]="[result.oppositeLabel]"
                        [chartData]="[result.value]"
                        [chartTitle]="result.originalLabel">
                </app-report>
                <div class="comment" [innerHTML]="result.comment | markdown"></div>
            </div>
        </div>
    </div>
</div>
